section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #343a40;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #343a40 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}

.sig {
    font-family: "Brush Script MT", "Brush Script Std", "cursive";
    font-size: 1.5em;
}

@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
